*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff7d4;
}

.calculator{
    background-color: #4f4789;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
}

.tela{
    display: flex;
    gap: 16px;
}

.tela img{
    height: 50px;
}

#display{
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #f0f0f0;
    text-align: right;
    font-size: 20px;
    margin-bottom: 16px;
}

.box-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

button{
    border: none;
    height: 60px;
    border-radius: 6px;
    font-size: 20px;
}

button:hover{
    background-color: #fff7d4;
    cursor: pointer;
}

.btn-0{
    grid-column: 1 / 3;
}

.btn-result{
    grid-row: 4 / 6;
    height: 100%;
    grid-column: 4 / 5;
}