@font-face {
    font-family: Duke;
    src: url(/font/Duke\ Charming\ DEMO.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Folty;
    src: url(/font/Folty-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ramillas;
    src: url(/font/TT\ Ramillas\ Trial\ Black.ttf) format('truetype');
}

@font-face {
    font-family: Ramillas Out;
    src: url(/font/TT\ Ramillas\ Trial\ Black\ Outline.ttf) format('truetype');
}

html{
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    height: 100vh;
}

footer {
    align-items: end;
    background-color: #4C3D3D;
}

.container-head{
    width: 100%;
    height: auto;
    position:fixed;
    display: flex;
    align-items: end;
    background-color: #4f4789;
    z-index: 1000;
    
}

.container-head img{
    width: 5%;
    height: 5%;
}

.container-head h1{
    color: #FFF7D4;
    font-size: 200%;
    margin-left: 5px;
    font-family: Duke;
}


nav{
    display: flex;
    gap: 80px;
    padding-left: 500px;
}

a{
    font-family: Folty;
    color: #FFF7D4;
    text-decoration: none;
    font-size: 150%;
}

.primeira-secao{
    height: 100vh;
    background-color: #4f4789;
}

main h1{
    font-family: Duke;
}

main p{
    font-family: Folty;
}

.container-primeira-pag{
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-primeira-pag img{
    position: absolute;
    margin-top: 10%;
    width: 30%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 110px;

}

.container-primeira-pag ul{
    margin-top: 6%;
    margin-left: 25%;
}
    

.container-primeira-pag h1{
    position: relative;
    font-family: Ramillas;
    font-size: 625%;
    color: #FFF7D4;
}

.container-primeira-pag h2{
    font-family: Ramillas Out;
    font-size: 625%;
    color: #daa520;
}

.container-primeira-pag p1{
    padding: 3%;
    background-color: #4f4789;
    margin-top: 10%;
    margin-left: 55%;
    position: absolute;
    color: #FFF7D4;
    font-family: Folty;
    font-size: 130%;
}

.primeira-secao p{
    margin-left: 5%;
    margin-bottom: 100%;
    position: relative;
    color: #FFF7D4;
    font-size: 110%;
}

.segunda-secao{
    height: 100vh;
    background-color: #FFF7D4;
    align-items: center;
}

.conteudo-segunda-pag{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container-segunda-pag{
    gap: 20px;
}

.container-segunda-pag img{
    position: absolute;
    width: 30%;
    height: auto;
    margin-left: 110px;
}

.container-segunda-pag h1{
    white-space: nowrap;
    position: relative;
    padding-top: 36%;
    margin-left: 22px;
    font-family: Duke;
    font-size: 500%;
}

.texto-branco{
    color: #FFF7D4;
}

.container-sobre-mim{
    width: 30%;
    padding-top: 10%;
    margin-right: 10%;
    font-family: Folty;
    font-size: 150%;
}




