/* Estilo geral */
@font-face {
    font-family: Duke;
    src: url(/font/Duke\ Charming\ DEMO.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Folty;
    src: url(/font/Folty-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ramillas;
    src: url(/font/TT\ Ramillas\ Trial\ Black.ttf) format('truetype');
}

@font-face {
    font-family: Ramillas Out;
    src: url(/font/TT\ Ramillas\ Trial\ Black\ Outline.ttf) format('truetype');
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    margin: 0;
    background-color: #4f4789;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main{
    padding-top: 100px;
}

.interface{
    max-width: 1280px;
    padding: 10px 4%;
}

section{
    min-height: 100vh;
}

a{
    text-decoration: none;
    font-family: Folty;
    font-size: 16px;
}

#Contato, #Inicio, #Projetos, #Sobre, #Especialidades, #Experiencia{
    scroll-margin-top: 100px;
}

.btn-contato button{
    padding: 10px 40px;
    font-family: Folty;
    color: #1a1a1a;
    font-size: 20px;
    font-weight: 600;
    border-radius: 25px;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
}

.flex{
    display: flex;
}

p{
    font-family: Folty;
}

.txt-ponto-branco{
    color: #ffffff;
}

.txt-ponto-dourado{
    color: #daa520;
}

.titulo-especial{
    font-family: Ramillas;
    font-size: 38px;
    color: #211a0a;
    text-align: center;
}

.titulo-especial-roxo{
    font-family: Ramillas;
    font-size: 38px;
    color: #1a1a1a;
    text-align: center;
}

.titulo-branco {
    color: #ffffff;
}

.links{
    color: #ffffff;
    text-decoration: underline;
    font-size: 20px;
    text-align: justify;
}

/* .boxs a{
    color: #cba6f7;
    text-decoration: none;
    font-family: Folty;
    font-size: 20px;
} */

.importante{
    color: #4f4789;
    text-transform: uppercase;
    font-weight: 500;
}

html, body {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}


/* Estilo geral */

/* Estilo cabeçalho */

header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1000;
    background-color: #4f4789;
    box-shadow: 0 0 18px #37325e;
}

header >.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #888579;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover{
    color: #FFF7D4;
    transform: scale(1.05);
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}


.btn-contato button:hover{
    box-shadow: 0 0 8px #daa520;
    transform: scale(1.05);
}

.interface{
    font-family: Duke;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: fit-content; /* limita o tamanho ao conteúdo */
}

.logo h1{
    font-size: 35px;
    color: #FFF7D4;
}

.logo img {
    width: 60px; /* ou o tamanho que quiser */
    height: auto;
    margin-bottom: 30px;
}

.curriculo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}



/* Estilho Cabecalho fim */



/* Estilo Topo Site */

section.topo-site{
    padding: 40px 4%;
    background-color: #4f4789;
}

main.interface{
    max-width: 1280px;
}

.topo-site .flex{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10%;
    position: relative; /* <- ESSENCIAL */
}

.txt-destaque-topo{
    position: relative;
    left: 20%;
    margin-bottom: 5%;
    font-size: 100px;
}

.portfolio-cima p{
    font-family: Ramillas;
    position: absolute;
    z-index: 3;
    color: #ffffff;
}

.imagem-topo img{
    padding-top: 30px;
    width: 400px;
    height: auto;
}

.imagem-topo {
    position: absolute;
    z-index: 2;
}

.portfolio-fundo p{
    font-family: Ramillas Out;
    color: #daa520;
}

.txt-box{
    padding: 3%;
    background-color: #4f4789;
    top: 150px;
    left: 600px;
    position: absolute;
    color: #FFF7D4;
    font-family: Folty;
    font-size: 20px;
}

.txt-box p {
  color: #FFF7D4;
  display: flex;
  align-items: center;
}

.prefixo {
  width: 40px; /* largura fixa para alinhar os textos */
}

.txt-rodape-topo{
    padding-top: 35px;
    color: #FFF7D4;
    display: flex;      
    align-items: center;
    justify-content: center;
}

.txt-rodape-topo p{
    font-family: Folty;
    font-size: 25px;
    white-space: nowrap;
    /* overflow: hidden; */
    /* border-right: 4px solid #daa520; */
    /* width: 32ch; */
    /* animation: escrever 2s steps(32), blink 0.7s infinite step-end alternate; */
}

 /* @keyframes blink{
    50%{
        border-color: transparent;
    }
} */

/* @keyframes escrever {
    from{
        width: 0;
    }
} */

/* Fim Topo */

/* Inicio Portfolio */

section.portfolio{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF7D4;
}

.interfaceportfolio{
    width: 100%;
}

.interfaceportfolio h2{
    margin-bottom: 32px;
    color: #211a0a;
}

.interfaceportfolio h2 span{
    margin-bottom: 32px;
    color: #daa520;
}

.flex.projetos{
    background-color: #2e2e2e8a;
    width: 100%;
}

.interfaceportfolio{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.barra-especialidades{
    width: 100%;
    height: 50px;
    display: flex;
    border-top: solid #daa520;
    border-bottom: solid #daa520;
    background-color: #211a0a;
}

.item{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100%;
    animation: scroll 16s linear infinite;
    animation-delay: var(--delay);
}

.item2{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 100%;
    animation: run 16s linear infinite;
    animation-delay: var(--delay);
}

.itemguibs{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100%;
    animation: scroll 16s linear infinite;
    animation-delay: var(--delay);
}

.itemguibs2{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 100%;
    animation: run 16s linear infinite;
    animation-delay: var(--delay);
}

.itemguibs img{
    width: 100%;
}

.item img{
    width: 100%;
    filter: brightness(0) saturate(100%) invert(86%) sepia(36%) saturate(3041%) hue-rotate(345deg) brightness(90%) contrast(88%);
}

.itemguibs2 img{
    width: 100%;
}

.item2 img{
    width: 100%;
    filter: brightness(0) saturate(100%) invert(86%) sepia(36%) saturate(3041%) hue-rotate(345deg) brightness(90%) contrast(88%);
}

@keyframes scroll {
    from {
      left: 100%;
    }
    to {
      left: -60px;
    }
  }


@keyframes run {
    from {
      right: 100%;
    }
    to {
      right: -60px;
    }
  }


.exp-box{
    padding: 130px;
    margin: 45px;
    border-radius: 20px;
    transition: .2s;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    background-color: #FFF7D4;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #FFF7D4;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

.exp-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #daa5209f;
}

.exp-box h3{
    word-wrap: break-word;
    text-align: start;
    font-size: 20px;
}


/* Fim Portfolio */

/* Estilo especialidades */

section.especialidades{
    padding: 40px 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4f4789;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .espec-box{
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
    word-wrap: break-word;
    max-width: 300px;
}

.especialidades .espec-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #daa5209f;
}

.especialidades .espec-box i{
    font-size: 70px;
    color: #ffffff;
}

.especialidades .espec-box h3{
    color: #211a0a;
    font-size: 28px;
    margin: 15px 0;
    max-width: fit-content;
}

.especialidades .espec-box p{
    color: #211a0a;
    font-size: 20px;
}
/* Fim de Especialidades */

/* Comeco Sobre mim */

section.sobre-mim{
    padding: 40px 4%;
    background-color: #FFF7D4;
    position: relative;
}

section.sobre-mim .flex{
    align-items: center;
    gap: 60px;
}

section .txt-sobre h2{
    margin-bottom: 20px;
    font-family: Ramillas;
    font-size: 40px;
    color: #211a0a;
}

section .titulo-dourado{
    color: #daa520;
}

section .txt-sobre p{
    text-align: justify;
    color: #211a0a;
    font-size: 20px;
}

.box-sobre-mim h3{
    text-align: center;
    text-transform: uppercase;
    color: #211a0a;
    font-size: 35px;
}

.box-sobre-mim{
    padding: 30px;
    background-color: #daa520;
    margin-bottom: 50px;
}

.retrato-sobre img{
    border-radius: 40px;
    width: 450px;
    height: auto;
}

.sobre-mim .txt-sobre .btn-social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-mim .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #FFF7D4;
    font-size: 22px;
    cursor: pointer;
    margin: 0px 30px;
    transition: .2s;
}

.sobre-mim .txt-sobre .btn-social button:hover{
    box-shadow: 0 0 8px #FFF7D4;
    transform: scale(1.05);
}

/* Fim Sobre mim */

/* Comeco Experiencia */

section.experiencia{
    padding: 40px 4%;
    background-color: #4f4789;
}

.interface h1{
    padding-bottom: 30px;
}

.grid{
    display: grid;
    grid-template-areas:
        'skillshard academico hobbies'
        'skillssoft academico contato'
    ;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 50px;
    height: auto;
    min-height: 70vh;
    margin-top: 20px;
}

.academico{
    grid-area: academico;
    text-align: center;
    border-top: #1a1a1a 2px solid;
    border-bottom: #1a1a1a 2px solid;
}

.academico h2{
    font-family: Ramillas;
    font-size: 35px;
    color: #ffffff;
}

.academico h3{
    text-align: center;
    text-transform: uppercase;
    color: #daa520;
    font-size: 35px;
}

.grid-imgs{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    justify-items: center;
    align-items: center;
}

.box{
    background-color: #FFF7D4;
    padding: 20px;
}

.box img{
    width: 100%;
    height: auto;
    transition: .5;
}

.box img:hover{
    transform: scale(4.05);
    height: auto;
}

.box p{
    text-align: justify;
    color: #1a1a1a;
    font-size: 20px;
    margin-top: 10px;
}

.boxs h3{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 35px;
}

.boxs h3 img{
    width: 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(226deg) brightness(105%) contrast(101%);
}

.boxs p{
    color: #1a1a1a;
    /* text-shadow:
    -1px -1px 0 #FFF7D4,
     1px -1px 0 #FFF7D4,
    -1px  1px 0 #FFF7D4,
     1px  1px 0 #FFF7D4; */
    font-size: 20px;
    padding-top: 10px;

}

.boxs p img{
    width: 10px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(226deg) brightness(105%) contrast(101%);;
}

.boxs p1{
    margin-top: 100px;
    padding-top: 100px;

}

.boxs p1 img{
    width: 35px;
    filter: brightness(0) saturate(100%) invert(92%) sepia(9%) saturate(1367%) hue-rotate(322deg) brightness(110%) contrast(102%);
}

.skillssoft{
    grid-area: skillssoft;
    /* background-color: aquamarine; */
    border-top: #1a1a1a 2px solid;
    border-bottom: #1a1a1a 2px solid;
}

.skillshard{
    grid-area: skillshard;
    /* background-color: #ff00c8; */
    border-top: #1a1a1a 2px solid;
    border-bottom: #1a1a1a 2px solid;
}

.contato{
    grid-area: contato;
    /* background-color: #d42222; */
    border-top: #1a1a1a 2px solid;
    border-bottom: #1a1a1a 2px solid;
}

.hobbies{
    grid-area: hobbies;
    /* background-color: #d4a422; */
    border-top: #1a1a1a 2px solid;
    border-bottom: #1a1a1a 2px solid;
}

/* Fim Experiencia */

/* comeco formulario */

section.formulario{
    padding: 80px 4%;
    background-color: #FFF7D4;
    position: relative;
    min-height: 70vh;
}

.formulario h2{
    padding-bottom: 20px;
    color: #211a0a;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    padding: 20px 15px;
    border-radius: 15px;
    border: 0;
    outline: 0;
    font-size: 16px;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form button{
    padding: 20px 0;
    border-radius: 15px;
    border: 0;
    outline: 0;
    font-size: 16px;
    background-color: #daa520;
    color: #211a0a;
    cursor: pointer;
    font-family: Folty;
    font-weight: 600;
    font-size: 20px;
}

.btn-inicio-site{
    text-align: center;
}

.btn-inicio-site i{
    font-size: 40px;
    color: #211a0a;
}

/* fim formulario */

/* Celular */

@media screen and (min-width: 1023px){
    .menu-mobile{
        display: none;
    }

    .btn-abrir-menu-mobile{
        display: none;
    }

    .btn-inicio-site{
        display: none;
    }
}

@media screen and (max-width: 1022px) {

    /* estilizacao geral */

    h, h1, h2, h3, h4, h5, h6{
        text-align: center;
        font-size: 30px;
    }

    body{
        background-color: #4f4789;
    }

    .flex{
        flex-direction: column;
    }

    .grid{
        grid-template-areas:
            'academico'
            'skillssoft'
            'skillshard'
            'contato'
            'hobbies'
        ;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    /* fim estilizacao geral */

    /* Comeco menu mobile */

    /* Estilo Menu Mobile */

    .btn-abrir-menu-mobile i{
        color: #FFF7D4;
        font-size: 40px;
    }

    .menu-mobile{
        display: block;
        backdrop-filter: blur(5px);
        background-color: #37325eea;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
        width: 0%;
        overflow: hidden;
        transition: .5s;
    }

    .menu-mobile.abrir-menu{
        width: 70%;
    }

    .menu-mobile.abrir-menu ~ .overlay-background{
        display: block;
    }

    .menu-mobile .btn-fechar{
        padding: 20px 10%;
    }

    .menu-mobile .btn-fechar i{
        font-size: 30px;
        color: #FFF7D4;
    }

    .menu-mobile nav ul{
        text-align: right;
    }

    .menu-mobile nav ul li a{
        color: #FFF7D4;
        font-size: 20px;
        padding: 20px 10%;
    }

    .menu-mobile nav ul li a:hover{
        background-color: #FFF7D4;
        display: block;
        color: #4f4789;
        font-size: 25px;
        transition: .5s;
    }

    .overlay-background{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: none; /* Escondido por padrão */
    }

    /* fim estilo mobile */

    /* Fim menu mobile */

    /* Cabecalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    header{
        position: static;
        align-items: center;
        box-shadow: none;
        height: 0px;
    }

    .logo{
        position: static;
        margin: 0 auto;
        background-size: contain;
    }
    /* .logo img{
        width: 40px;
    } */

    /* fim cabecalho */

    /* Estilo Topo Site */

    section.topo-site{
        padding: 20px 8%;
        background-color: none;
        position: relative;
    }

    .controle-topo{
        max-width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        position: relative; /* <- ESSENCIAL */
    }

    .topo-site .flex{
        display: flex;
        align-items: center;
        justify-content: start;
        margin-left: 0%;
        position: relative; /* <- ESSENCIAL */
    }

    .imagem-topo img{
        padding-top: 50px;
        width: 250px;
        height: auto;
    }

    .txt-destaque-topo{
        font-size: 50px;
        left: 0%;
        margin-bottom: 5%;
    }

    .txt-box{
        padding: 3%;
        background-color: #4f4789;
        top: 200px;
        left: 0px;
        position: absolute;
        z-index: 3;
        white-space: nowrap;
    }

    .txt-rodape-topo{
        margin-top: 120px;
    }

    /* Inicio Portfolio */

    /* Fim Portfolio */

    /* Inicio Especialidades */

    section.especialidades{
        padding: 40px 8%;
    }

    /* Fim Especialidades */

    /* Inicio Sobre mim */

    section.sobre-mim{
        padding: 40px 8%;
    }

    section .txt-sobre h2{
        margin-bottom: 20px;
        font-family: Ramillas;
        font-size: 30px;
        color: #211a0a;
    }

    .retrato-sobre img{
        border-radius: 40px;
        width: 300px;
        height: auto;
    }

    /* Fim Sobre mim */

    /* Inicio Experiencia */

    section.experiencia{
        padding: 40px 8%;
    }

    .boxs p1{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        padding-top: 5px;
    }

    /* Fim Experiencia */
}

/* Fim celular */