/* Estilo geral */
@font-face {
    font-family: Duke;
    src: url(/font/Duke\ Charming\ DEMO.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Folty;
    src: url(/font/Folty-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ramillas;
    src: url(/font/TT\ Ramillas\ Trial\ Black.ttf) format('truetype');
}

@font-face {
    font-family: Ramillas Out;
    src: url(/font/TT\ Ramillas\ Trial\ Black\ Outline.ttf) format('truetype');
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

main{
    padding-top: 100px;
}

.interface{
    max-width: 1280px;
    padding: 10px 4%;
}

section{
    padding: 100px 0;
    min-height: 100vh;
}

a{
    text-decoration: none;
    font-family: Folty;
    font-size: 16px;
}

.btn-contato button{
    padding: 10px 40px;
    font-family: Folty;
    color: #211a0a;
    font-size: 20px;
    font-weight: 600;
    border-radius: 25px;
    background-color: #daa520;
    border: 0;
    cursor: pointer;
}

.flex{
    display: flex;
}

p{
    font-family: Folty;
}


.txt-ponto-roxo{
    color: #4f4789;
}


.txt-ponto-dourado{
    color: #daa520;
}
  

.titulo-especial{
    font-family: Ramillas;
    font-size: 38px;
    color: #211a0a;
    text-align: center;
}

.titulo-especial-roxo{
    font-family: Ramillas;
    font-size: 38px;
    color: #1a1a1a;
    text-align: center;
}

.titulo-branco {
    color: #ffffff;
}

.boxs a{
    color: #FFF7D4;
    text-decoration: none;
    font-family: Folty;
    font-size: 20px;
}

/* Estilo geral */

/* Estilo cabeçalho */

header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1000;
    background-color: #4f4789;
    box-shadow: 0 0 18px #37325e;
}

header >.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #888579;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #FFF7D4;
    transform: scale(1.05);
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


.btn-contato button:hover{
    box-shadow: 0 0 8px #daa520;
    transform: scale(1.05);
}

.interface{
    font-family: Duke;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: fit-content; /* limita o tamanho ao conteúdo */
}

.logo h1{
    font-size: 35px;
    color: #FFF7D4;
}
  
.logo img {
    width: 60px; /* ou o tamanho que quiser */
    height: auto;
    margin-bottom: 30px;
}

/* Estilho Cabecalho fim */

/* Estilo Topo Site */

section.topo-site{
    padding: 4px 4%;
}

main.interface{
    max-width: 1280px;
}

.topo-site{
    background-color: #4f4789;
    height: 100vh;
}

.topo-site .flex{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10%;
    position: relative; /* <- ESSENCIAL */
}

.txt-destaque-topo{
    position: relative;
    left: 20%;
    margin-bottom: 5%;
}

.portfolio-cima {
    font-family: Ramillas;
    font-size: 100px;
    position: absolute;
    z-index: 3;
    color: #FFF7D4;
}
  
.imagem-topo img{
    width: 400px;
    height: auto;
    position: absolute;
    z-index: 2;
}

.portfolio-fundo p1{
    font-family: Ramillas Out;
    font-size: 100px;
    position: absolute;
    color: #daa520;
}

.txt-box{
    padding: 3%;
    background-color: #4f4789;
    top: 150px;
    left: 600px;
    position: absolute;
    color: #FFF7D4;
    font-family: Folty;
    font-size: 20px;
}

.txt-rodape-topo{
    top: 400px;
    color: #FFF7D4;
    position: absolute;
    z-index: 3;
    font-family: Folty;
    font-size: 20px;
}

/* Inicio Portfolio */

section.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF7D4;
}

.interfaceportfolio{
    width: 100%;
}

.interfaceportfolio h2{
    margin-bottom: 32px;
    color: #211a0a;
}

.interfaceportfolio h2 span{
    margin-bottom: 32px;
    color: #daa520;
}

.flex.projetos{
    background-color: #2e2e2e8a;
}

.interfaceportfolio{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.barra-especialidades{
    width: 100%;
    height: 50px;
    display: flex;
    border-top: solid #daa520;
    border-bottom: solid #daa520;
    background-color: #211a0a;
}

/* .barra-especialidades:hover .item, .barra-especialidades:hover .itemguibs{
    animation-play-state: paused;
    filter: grayscale(1);
}

.barra-especialidades .item:hover, .barra-especialidades .itemguibs:hover{
    filter: none;
} */

.item{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100%;
    animation: scroll 16s linear infinite;
    animation-delay: var(--delay);
}

.item2{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 100%;
    animation: run 16s linear infinite;
    animation-delay: var(--delay);
}

.itemguibs{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 100%;
    animation: scroll 16s linear infinite;
    animation-delay: var(--delay);
}

.itemguibs2{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 100%;
    animation: run 16s linear infinite;
    animation-delay: var(--delay);
}

.itemguibs img{
    width: 100%;
}

.item img{
    width: 100%;
    filter: brightness(0) saturate(100%) invert(86%) sepia(36%) saturate(3041%) hue-rotate(345deg) brightness(90%) contrast(88%);
}

.itemguibs2 img{
    width: 100%;
}

.item2 img{
    width: 100%;
    filter: brightness(0) saturate(100%) invert(86%) sepia(36%) saturate(3041%) hue-rotate(345deg) brightness(90%) contrast(88%);
}

@keyframes scroll {
    from {
      left: 100%;
    }
    to {
      left: -60px;
    }
  }

  
@keyframes run {
    from {
      right: 100%;
    }
    to {
      right: -60px;
    }
  }
  

.exp-box{
    padding: 130px;
    margin: 45px;
    border-radius: 20px;
    transition: .2s;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #FFF7D4;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

.exp-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #daa5209f; 
}

.exp-box h3{
    word-wrap: break-word;
    text-align: start;
    font-size: 20px;
}


/* Fim Portfolio */

/* Estilo especialidades */

section.especialidades{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4f4789;
}

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .espec-box{
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
    word-wrap: break-word;
    max-width: 300px;
}

.especialidades .espec-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #daa5209f;
}

.especialidades .espec-box i{
    font-size: 70px;
    color: #FFF7D4;
}

.especialidades .espec-box h3{
    color: #211a0a;
    font-size: 28px;
    margin: 15px 0;
    max-width: fit-content;
}

.especialidades .espec-box p{
    color: #211a0a;
    font-size: 20px;
}
/* Fim de Especialidades */

/* Comeco Sobre mim */

section.sobre-mim{
    padding: 40px 4%;
    background-color: #FFF7D4;
}

section.sobre-mim .flex{
    align-items: center;
    gap: 60px;
}

section .txt-sobre h2{
    margin-bottom: 20px;
    font-family: Ramillas;
    font-size: 40px;
    color: #211a0a;
}

section .txt-sobre h2 span{
    color: #daa520;
}

section .txt-sobre p{
    text-align: justify;
    color: #211a0a;
    font-size: 20px;
}

.box-sobre-mim h3{
    text-align: center;
    text-transform: uppercase;
    color: #211a0a;
    font-size: 35px;
}

.box-sobre-mim{
    padding: 30px;
    background-color: #daa520;
    margin-bottom: 50px;
}

.retrato-sobre img{
    border-radius: 40px;
    width: 450px;
    height: auto;
}

.sobre-mim .txt-sobre .btn-social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-mim .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #FFF7D4;
    font-size: 22px;
    cursor: pointer;
    margin: 0px 30px;
    transition: .2s;
}

.sobre-mim .txt-sobre .btn-social button:hover{
    box-shadow: 0 0 8px #FFF7D4;
    transform: scale(1.05);
}

/* Fim Sobre mim */

/* Comeco Experiencia */

section.experiencia{
    padding: 40px 4%;
    background-color: #4f4789;
}

.grid{
    display: grid;
    grid-template-areas: 
        'skillshard academico hobbies'
        'skillssoft academico contato'
    ;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 50px;
    height: 70vh;
    margin-top: 20px;
}

.box{
    padding: 20px;
}

/* .box h3{
    text-transform: uppercase;
    text-align: center;
    color: #211a0a;
    font-size: 35px;
} */

.boxs h3{
    text-transform: uppercase;
    color: #FFF7D4;
    font-size: 35px;
}

.boxs{
    color: #1a1a1a;
    font-size: 20px;
    gap: 100px;
}

.boxs h3 img{
    width: 30px;
    filter: brightness(0) saturate(100%) invert(92%) sepia(9%) saturate(1367%) hue-rotate(322deg) brightness(110%) contrast(102%);
}

.boxs p img{
    width: 10px;
    filter: brightness(0) saturate(100%) invert(92%) sepia(9%) saturate(1367%) hue-rotate(322deg) brightness(110%) contrast(102%);
}

.boxs p1{
    margin-top: 100px;
    padding-top: 100px;

}

.boxs p1 img{
    width: 35px;
    filter: brightness(0) saturate(100%) invert(92%) sepia(9%) saturate(1367%) hue-rotate(322deg) brightness(110%) contrast(102%);
}

.skillssoft{
    grid-area: skillssoft;
    /* background-color: aquamarine; */
    border-top: #1a1a1a 2px solid;
    border-bottom: #1a1a1a 2px solid;
}

.skillshard{
    grid-area: skillshard;
    /* background-color: #ff00c8; */
    border-top: #1a1a1a 2px solid;
    border-bottom: #1a1a1a 2px solid;
}

.academico{
    grid-area: academico;
    background-color: #FFF7D4;
}

.contato{
    grid-area: contato;
    /* background-color: #d42222; */
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

.hobbies{
    grid-area: hobbies;
    /* background-color: #d4a422; */
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}