/* Estilo geral */
@font-face {
    font-family: Duke;
    src: url(/font/Duke\ Charming\ DEMO.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Folty;
    src: url(/font/Folty-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Ramillas;
    src: url(/font/TT\ Ramillas\ Trial\ Black.ttf) format('truetype');
}

@font-face {
    font-family: Ramillas Out;
    src: url(/font/TT\ Ramillas\ Trial\ Black\ Outline.ttf) format('truetype');
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

main{
    padding-top: 100px;
}

.interface{
    max-width: 1280px;
    padding: 10px 4%;
}

section{
    padding: 100px 0;
    min-height: 100vh;
}

a{
    text-decoration: none;
    font-family: Folty;
    font-size: 16px;
}

.btn-contato button{
    padding: 10px 40px;
    font-family: Folty;
    color: #211a0a;
    font-size: 20px;
    font-weight: 600;
    border-radius: 25px;
    background-color: #daa520;
    border: 0;
    cursor: pointer;
}

.flex{
    display: flex;
}

p{
    font-family: Folty;
}


.txt-ponto-roxo{
    color: #4f4789;
}


.txt-ponto-dourado{
    color: #daa520;
}
  

/* Estilo geral */

/* Estilo cabeçalho */

header{
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1000;
    background-color: #4f4789;
    box-shadow: 0 0 18px #37325e;
}

header >.interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #888579;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #FFF7D4;
    transform: scale(1.05);
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


.btn-contato button:hover{
    box-shadow: 0 0 8px #daa520;
    transform: scale(1.05);
}

.interface{
    font-family: Duke;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: fit-content; /* limita o tamanho ao conteúdo */
}

.logo h1{
    font-size: 35px;
    color: #FFF7D4;
}
  
.logo img {
    width: 60px; /* ou o tamanho que quiser */
    height: auto;
    margin-bottom: 30px;
}
/* Estilho Cabecalho fim */

/* Estilo Topo Site */

section.topo-site{
    padding: 4px 4%;
}

main.interface{
    max-width: 1280px;
}

.topo-site{
    background-color: #4f4789;
    height: 100vh;
}

.topo-site .flex{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 10%;
    position: relative; /* <- ESSENCIAL */
}

.txt-destaque-topo{
    position: relative;
    left: 20%;
    margin-bottom: 5%;
}

.portfolio-cima {
    font-family: Ramillas;
    font-size: 100px;
    position: absolute;
    z-index: 3;
    color: #FFF7D4;
}
  
.imagem-topo img{
    width: 400px;
    height: auto;
    position: absolute;
    z-index: 2;
}

.portfolio-fundo p1{
    font-family: Ramillas Out;
    font-size: 100px;
    position: absolute;
    color: #daa520;
}

.txt-box{
    padding: 3%;
    background-color: #4f4789;
    top: 150px;
    left: 600px;
    position: absolute;
    color: #FFF7D4;
    font-family: Folty;
    font-size: 20px;
}

.txt-rodape-topo{
    top: 400px;
    color: #FFF7D4;
    position: absolute;
    z-index: 3;
    font-family: Folty;
    font-size: 20px;
}

/* Estilo especialidades */

section.especialidades{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF7D4;
}

.titulo-especial{
    font-family: Ramillas;
    font-size: 38px;
    color: #2e2e2e;
    text-align: center;
}

.titulo-especial span{
    color: #4f4789;
}

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .espec-box{
    padding: 40px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.especialidades .espec-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #daa5209f;
}

.especialidades .espec-box i{
    font-size: 70px;
    color: #4f4789;
}

.especialidades .espec-box h3{
    color: #211a0a;
    font-size: 28px;
    margin: 15px 0;
}

.especialidades .espec-box p{
    text-align: justify;
    color: #211a0a;
    font-size: 20px;
}
/* Fim de Especialidades */

/* Comeco Sobre mim */

section.sobre-mim{
    padding: 40px 4%;
    background-color: #4f4789;
}

section.sobre-mim .flex{
    align-items: center;
    gap: 60px;
}

section .txt-sobre h2{
    margin-bottom: 20px;
    font-family: Ramillas;
    font-size: 40px;
    color: #FFF7D4;
}

section .txt-sobre h2 span{
    color: #daa520;
}

section .txt-sobre p{
    text-align: justify;
    color: #211a0a;
    font-size: 20px;
}

.box-sobre-mim h3{
    text-align: center;
    text-transform: uppercase;
    color: #211a0a;
    font-size: 35px;
}

.box-sobre-mim{
    padding: 30px;
    background-color: #daa520;
    margin-bottom: 50px;
}

.retrato-sobre img{
    border-radius: 40px;
    width: 450px;
    height: auto;
}

.sobre-mim .txt-sobre .btn-social{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-mim .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #FFF7D4;
    font-size: 22px;
    cursor: pointer;
    margin: 0px 30px;
    transition: .2s;
}

.sobre-mim .txt-sobre .btn-social button:hover{
    box-shadow: 0 0 8px #FFF7D4;
    transform: scale(1.05);
}

/* Fim Sobre mim */

/* Comeco Experiencia */

section.experiencia{
    display: flex;
    flex-direction: row;
    background-color: #FFF7D4;
}

section.experiencia .flex{
    flex-direction: column;
    gap: 60px;
}
